[Unit]
Description=mywebapp Task Tracker (container)
After=docker.service network.target
Requires=docker.service

[Service]
EnvironmentFile=/etc/mywebapp/container.env

Restart=on-failure
RestartSec=5

ExecStartPre=-/usr/bin/docker stop mywebapp
ExecStartPre=-/usr/bin/docker rm mywebapp
ExecStart=/usr/bin/docker run \
    --name mywebapp \
    --network host \
    -v /etc/mywebapp/config.json:/etc/mywebapp/config.json:ro \
    -e CONFIG_PATH=/etc/mywebapp/config.json \
    ${MYWEBAPP_IMAGE}
ExecStop=/usr/bin/docker stop mywebapp

[Install]
WantedBy=multi-user.target
